.collapse {
}

.cart-list {
  position: absolute;
  background-color: #fff;
  border: 1px solid rgba(61, 15, 15, 0);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  color: black;
  padding: 1rem;
}

.cart-list p{
    font-size: 16px;

}
.list-cart-img img{
    max-width: 24px;
}

#multiCollapseExample1 {
  position: absolute;
  right: 1%;
}

.cart-list-button-container{
    border-top: 1px solid rgba(61, 15, 15, 0);
}
.cart-list-button-container .btn
{
    margin: 1rem;
   
    
}

.list-cart-subtotal{
    display:flex;
    flex-direction: row;
    padding-top: 1rem;
    align-content: space-between;
    
    border-top: 1px solid rgba(122, 117, 117, 0.342);
    border-bottom: 1px solid rgba(122, 117, 117, 0.342);
   


}

.list-cart-subtotal span{
    position: absolute;
    right: 19%;;
}
