.collapse {
}


#multiCollapseExample1 {
  position: absolute;
  right: 1%;
}

.payment-container {
    display: flex;
    flex-direction: row;
    min-height: 92vh;
    margin: 0em;
  
    overflow: hidden;
    background-color: #d1333c;
  }
  
  
  
  .payment-card label{
      font-size: 14px;
  }
  
  .payment-card {
    margin: 2px;
    padding:1rem;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    color: #2f303a;
  }
  .payment-card h5{
      font-size: 14px;
  }
  .payment-card p {
    font-size: 16px;
  }
  .payment-products-detail p{
      font-size: 14px;
  }
  
  .row-card-payment {
    width: 100%;
  }
  
  
  .row .payment-card-subtotal{
      border-top: 1px solid rgba(39, 30, 30, 0.226);
      border-bottom: 1px solid rgba(39, 30, 30, 0.226);
      margin-top:4px;
      padding-top:15px;
      
  }
  
  .row .payment-card-total{
      margin-top:4px;
      padding-top:15px;
      
  }
  