
#cart{
    display: flex;
    flex-direction: column;
  }
  
  
  #cart .badge
  {
    margin-top: -30px;
    margin-left: 25px;
    font-size: 12px;
  }
  #btn-cart{
    padding:1rem;
    color: #686666da;
  }