#cart {
  display: flex;
  flex-direction: column;
}

#cart .badge {
  margin-top: -30px;
  margin-left: 25px;
  font-size: 12px;
}
#btn-cart {
  padding: 1rem;
  color: #686666da;
}

.nav-cart {
  display: flex;
  flex-direction: row;
}
.nav-cart img {
  max-width: 30pxpx;
  max-height: 30px;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.nav-cart p{
  margin:0px 1rem;
}