.root {
  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --midnight: #104f55;
  --primary-color: #d1333c;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #2f303a;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: white;
  min-height: 100vh;
}

.navbar {
  border-bottom: 1px solid rgba(202, 198, 188, 0.253);
}

.navbar-nav i {
  margin-left: 1rem;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand {
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

.navbar .navbar-brand img {
  max-width: 40px;
  max-height: 40px;
}

.social-media .navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 1rem;
}

.social-media .navbar-nav li a {
  color: #fff;
}

.social-media .navbar-nav li:hover {
  color: #686666da;
}
.social-media nabvar ul li {
  margin-left: 1rem;
}

.navbar a {
  color: #fff;
}

.header {
  display: flex;
  flex-direction: row;
  height: 92vh;
  margin: 0em;

  overflow: hidden;
  background-image: url(../assets/img/person-pizza.jpg);
}

.header .heading-container-right,
.header .heading-container-left {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.header .heading-container-left{
    justify-content:flex-end;
    margin-bottom: 5rem;
    text-align: center;
 
}

.heading-container-right{
    
    margin: 0rem;
    padding: 0rem;
}

.header h1 {
  font-size: 3.6rem;
  font-weight: 600;
  
  color: #fff;
}

.invalid-feedback,
.form-check-input.is-invalid ~ .form-check-label,
.was-validated .form-check-input:invalid ~ .form-check-label {
  color: #fff;
}
